:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
    --off-white: hsl(36, 100%, 99%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Inter', sans-serif;
    width: 100%;
    min-height: 100vh;
    font-size: 15px;
    background-color: var(--off-white);
    margin: 0;
    padding: 0;
}

h1 {
    color: var(--grayish-blue);
    padding-bottom: 1rem;
}

h2 {
    padding-bottom: 1rem;
}

h3, h4 {
    padding-bottom: 1rem;
}

hr {
    opacity: 50%;
}

p {
    line-height: 2.5rem;
}

button {
    border: none;
    margin-top: .5rem;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 0;
    background-color: var(--soft-red);
    color: var(--off-white);
    font-size: 15px;
    letter-spacing: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--very-dark-blue);
    color: var(--off-white);
}

.topnav {
    background-color: var(--off-white);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin-left: 11rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.topnav a {
    display: block;
    color: var(--very-dark-blue);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    align-items: end;
}

a:-webkit-any-link {
    text-decoration: none;
}

.topnav a:hover {
    color: var(--soft-red);
}

.topnav .icon {
    display: none;
}

#home {
    margin-left: 57rem;
}

.hero-container {
    display: flex;
    flex-direction: row;
    margin: 1rem 10rem;
}

.hero-grid {
    display: grid;
    grid-template-columns: 600px 400px;
    grid-template-rows: 200px 200px;

    grid-template-areas:
    "image image"
    "header text";
    justify-items: start;
    align-items: start;
    text-align: left;
    margin-right: 1.5rem;
}

.desktop-img {
    visibility: visible;
    grid-area: image;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 1000px;
}

.mobile-img {
    visibility: hidden;
}

.hero-header {
    color: var(--very-dark-blue);
    font-size: 72px;
    grid-area: header;
    padding-top: 2rem;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4
}

.hero-text {
    grid-area: text;
    padding: 2rem;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.text {
    margin-bottom: 1.5rem;
}

.article-container {
    background-color: var(--very-dark-blue);
    color: var(--off-white);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    padding: 3rem 2rem;
    max-width: 400px;
}

.article-header {
    color: var(--soft-orange);
}

.article {
    color: var(--off-white);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.article a {
    color: var(--off-white);
}

.article a:hover {
    text-decoration: none;
    color: var(--soft-orange);
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2rem 6rem;
}

.footer-img {
    height: 150px;
}

.item {
    display: flex;
    flex-direction: row;
    padding: 2rem 1rem;
}

.item a {
    color: var(--very-dark-blue);
}

.item a:hover {
    text-decoration: none;
    color: var(--soft-red);
}

.sub-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 2rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        margin-left: 15rem;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

}

@media screen and (max-width: 600px) {

    html, body {
        width: auto!important;
        overflow-x: hidden!important;
        overflow-y: scroll;
    }

    .topnav {
        margin-left: 1.5rem;
        margin-top: 3rem;
        margin-bottom: 4rem;
    }

    .hero-container {
        flex-direction: column;
        margin: 1rem;
    }

    .hero-grid {
        grid-template-columns: 400px;
        grid-template-rows: 300px 200px 350px;
        grid-template-areas:
            "image"
            "header"
            "text";
    }

    .desktop-img {
        visibility: hidden;
    }

    .mobile-img {
        grid-area: image;
        visibility: visible;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        width: 350px;
    }

    .hero-header {
        grid-area: header;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        width: 350px;
        font-size: 48px;
    }

    .hero-text {
        grid-area: text;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        width: 350px;
        padding: 1.5rem 0;
    }

    .article-container {
        margin-top: 0;
        max-width: 350px;
    }

    .footer {
        flex-direction: column;
        margin: 3rem 1rem;
    }

    .item {
        padding: .5rem;
    }

    .sub-text p {
         line-height: 1.5rem;
    }
}
